$firsttcolor: #f2df21;
$secondcolor: #5ab0dd;
$littlewhite: #f4f5f7;

*{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    height: 2100px;
    .above{
        height: 300px;
        background-color: rebeccapurple;
    }
    .banner{
        height: 400px;
        background-image: url(../images/background-banner.jpg);
        background-size: cover;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        .welcome{
            width: 30%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            top: 30%;
            h1{
                text-align: center;
                font-family: 'Pacifico', cursive;
                font-size: 36px;
            }
        }
    }
    nav{
        height: 1100px;
        width: 300px;
        position: absolute;
        top: 700px;
        background-color: indianred;
    }
    main{
        height: 1100px;
        position: absolute;
        top: 700px;
        background-color: pink;
        .offerts{
            height: 450px;
            width: 30%;
            background-color: $littlewhite;
            float: left;
            margin: 50px 0px 25px 45px;
            .image{
                height: 50%;
                width: 90%;
                position: relative;
                left: 5%;
                top: 5%;
                img{
                    height: 80%;
                    width: 75%;
                    object-fit: cover;
                    position: relative;
                    left: 12.5%;
                    top: 10%;
                }
            }
            section{
                width: 60%;
                height: 40%;
                position: relative;
                top: 10%;
                left: 5%;
                text-align: left;
                float: left;
                border-right: 2px solid $firsttcolor;
                border-bottom: 2px solid $firsttcolor;
                border-radius: 10px;
                background-color: white;
                p{
                    font-size: 21px;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            .price{
                background-color: white;
                height: 40%;
                width: 30%;
                float: left;
                position: relative;
                left: 5%;
                top: 10%;
                border-left: 2px solid $firsttcolor;
                border-bottom: 2px solid $firsttcolor;
                border-radius: 10px;
            }
        }
    }
}